In [1]:
#import libraries 
from shapely.geometry import Point, LineString
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
import numpy as np
import json

In [2]:
#reading in county FIPS data
counties_FIPS = pd.read_excel('./data/COVID-19_resources_data.xlsx', sheet_name='counties-FIPS-filtered')
counties_FIPS.head()

    FIPS    State  FIPS State               County
0  18019  Indiana          18     Clark County, IN
1  18025  Indiana          18  Crawford County, IN
2  18037  Indiana          18    Dubois County, IN
3  18043  Indiana          18     Floyd County, IN
4  18059  Indiana          18   Hancock County, IN

In [3]:
#reading in shp file
counties_shp = gpd.read_file('./UScounties_SHP/UScounties.shp')
type(counties_shp)

geopandas.geodataframe.GeoDataFrame

In [4]:
counties_shp.head()

,NAME,STATE_NAME,STATE_FIPS,CNTY_FIPS,FIPS,geometry
0,Lake of the Woods,Minnesota,27,077,27077,"POLYGON ((-95.34283127277658 48.546679319076, ..."
1,Ferry,Washington,53,019,53019,POLYGON ((-118.8516288013387 47.94956368481996...
2,Stevens,Washington,53,065,53065,"POLYGON ((-117.438831576286 48.04411548512263,..."
3,Okanogan,Washington,53,047,53047,"POLYGON ((-118.972093862835 47.93915200536639,..."
4,Pend Oreille,Washington,53,051,53051,POLYGON ((-117.4385804303028 48.99991850672649...

In [5]:
#ensuring FIPS columns in both datasets are int types
counties_FIPS.FIPS.astype(int)
counties_FIPS.FIPS.dtypes

dtype('int64')

In [10]:
counties_shp['FIPS'] = counties_shp['FIPS'].apply(lambda x: np.int64(x))

counties_shp.FIPS.dtypes

dtype('int64')

In [13]:
#inner join counties_shp and counties_FIPS to keep only the relevant rows
counties_subset = counties_FIPS.merge(counties_shp, on=['FIPS'], how='inner')
counties_subset.head()

,FIPS,State,FIPS State,County,NAME,STATE_NAME,STATE_FIPS,CNTY_FIPS,geometry
0,18019,Indiana,18,"Clark County, IN",Clark,Indiana,18,019,POLYGON ((-85.64359298439967 38.38368795422522...
1,18025,Indiana,18,"Crawford County, IN",Crawford,Indiana,18,025,POLYGON ((-86.34160589574869 38.17728812454165...
2,18037,Indiana,18,"Dubois County, IN",Dubois,Indiana,18,037,POLYGON ((-87.08012433372728 38.23214559766824...
3,18043,Indiana,18,"Floyd County, IN",Floyd,Indiana,18,043,"POLYGON ((-85.91207456772507 38.1800014647151,..."
4,18059,Indiana,18,"Hancock County, IN",Hancock,Indiana,18,059,"POLYGON ((-85.6448580908467 39.70106042910678,..."

In [17]:
#drop unnecessary columns
counties_subset = counties_subset.drop(columns=['State', 'FIPS State'], axis=1)
counties_subset.head()

,FIPS,County,NAME,STATE_NAME,STATE_FIPS,CNTY_FIPS,geometry
0,18019,"Clark County, IN",Clark,Indiana,18,019,POLYGON ((-85.64359298439967 38.38368795422522...
1,18025,"Crawford County, IN",Crawford,Indiana,18,025,POLYGON ((-86.34160589574869 38.17728812454165...
2,18037,"Dubois County, IN",Dubois,Indiana,18,037,POLYGON ((-87.08012433372728 38.23214559766824...
3,18043,"Floyd County, IN",Floyd,Indiana,18,043,"POLYGON ((-85.91207456772507 38.1800014647151,..."
4,18059,"Hancock County, IN",Hancock,Indiana,18,059,"POLYGON ((-85.6448580908467 39.70106042910678,..."

In [20]:
#rename column
counties_subset.rename(columns={'NAME': 'CNTY_NAME'}, inplace=True)
counties_subset.head()

,FIPS,County,CNTY_NAME,STATE_NAME,STATE_FIPS,CNTY_FIPS,geometry
0,18019,"Clark County, IN",Clark,Indiana,18,019,POLYGON ((-85.64359298439967 38.38368795422522...
1,18025,"Crawford County, IN",Crawford,Indiana,18,025,POLYGON ((-86.34160589574869 38.17728812454165...
2,18037,"Dubois County, IN",Dubois,Indiana,18,037,POLYGON ((-87.08012433372728 38.23214559766824...
3,18043,"Floyd County, IN",Floyd,Indiana,18,043,"POLYGON ((-85.91207456772507 38.1800014647151,..."
4,18059,"Hancock County, IN",Hancock,Indiana,18,059,"POLYGON ((-85.6448580908467 39.70106042910678,..."